body{
    margin: 0px;
}

.container{
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
.container>*{
    margin: 5px 0;
}

h1{
    margin: 10px;
}
.status{
    text-align: center;
}
.create_button input{
    text-align: center;
    background-color: aqua;
}
.table_data{
    text-align: center;
}
td a input{
    margin: 5px;
}
.update{
    background-color: aqua;
}
.delete{
    background-color: red;
    color: white;
}