{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'todolist/css/todo_create.css' %}"/>
        
        <title>Create Page</title>
    </head>
    <body>
        <form action="/create/" method="POST">{% csrf_token %}
            <label for="title">Title</label><br>
            <input id="title" type="text" name="title" placeholder="Insert your title here..."><br>
            <label for="description">Description</label><br>
            <textarea name="description" id="description" cols="30" rows="10" placeholder="Insert your description here..."></textarea><br>
            <input type="submit" value="create">
        </form>
    </body>
</html>